<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034635154513-ints4gm8umrbpoemn87rr0vtinjrrd1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034635154513-ints4gm8umrbpoemn87rr0vtinjrrd1s</string>
	<key>API_KEY</key>
	<string>AIzaSyBt8DSfHZgU8MqPORBIQvFuNRs4HQAMC8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1034635154513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Noxtton-assignment</string>
	<key>PROJECT_ID</key>
	<string>covidregulationsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>covidregulationsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034635154513:ios:d725ebd04b4ab6e924d470</string>
</dict>
</plist>